.login-component {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;

    mat-card {
        // Sempre usar a classe da div principal ao fazer alterações em componentes que vem da biblioteca
        width: 400px;
        padding: 20px;
    }

    mat-label {
        color: rgba(26, 27, 31, 0.521);
    }

    mat-card-header {
        justify-content: center;
    }
    .mat-mdc-text-field-wrapper {
        margin-bottom: 8px;
    }

    .mdc-button__label {
        color: rgba(0, 0, 248, 0.562);

    }
    

    .cad-button-content {
        display: inline-flex;
        align-items: center;

        mat-spinner {
            margin-left: 6px;
        }
    }

    .mdc-notched-outline__trailing {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }

    .mdc-notched-outline__leading {
        border-top-left-radius: 14px;
        border-bottom-left-radius: 14px;
    }

    input::placeholder {
        color: rgba(7, 7, 7, 0.479) !important;
    }

    mat-error {
        display: flex;
        flex-direction: row-reverse;
        font-size: 10px;
    }

    .mat-mdc-card-content {
        padding: 12px 16px;
    }
}