//Por que usar o .register-component? Medida de segurança para usar o ViewEncapsulation.None , e a alteração valer para o meu component específico.

.register-component {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}
.register-component mat-card {  // Sempre usar a classe da div principal ao fazer alterações em componentes que vem da biblioteca
    width: 400px;
    padding: 20px;
}

mat-label  {    
  color: rgba(26, 27, 31, 0.521);
   
}
.register-component .mdc-button__label {    
    color: rgba(0, 0, 248, 0.562);
    
}
.register-component .cad-button-content {
    display: inline-flex; align-items: center;
    mat-spinner {
        margin-left: 6px;
    }
}

// :host ::ng-deep .register-component .mdc-notched-outline__trailing {
//     border-top-right-radius: 16px;
//     border-bottom-right-radius: 16px;
// }

// :host ::ng-deep .register-component .mdc-notched-outline__leading {
//     border-top-left-radius: 14px;
//     border-bottom-left-radius: 14px;
// } NG-DEEP PARA CONTAINERS COM VIEWENCAPSULATION.EMULATED

.register-component .mdc-notched-outline__trailing {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
 }

.register-component .mdc-notched-outline__leading {
     border-top-left-radius: 14px;
     border-bottom-left-radius: 14px; 
}
.register-component input::placeholder{
    
    color: rgba(7, 7, 7, 0.555) !important;
    
}
.register-component .mat-mdc-text-field-wrapper {
  margin-bottom: 8px;
}

.register-component mat-error {
    display: flex;
    flex-direction: row-reverse;
    font-size: 10px;
}

.register-component .mat-mdc-card-content {
    padding: 12px 16px;
}