<mat-toolbar class="app-navbar">
  <div class="navbar-inner">

    <a routerLink="/" class="navbar-brand">
      <img [src]="logoApp" alt="Logo" class="logo-img" />
    </a>

    @if (isLogged) {
    <nav class="navbar-nav">
      <button matButton [routerLink]="['/tasks']" class="nav-btn">
        <mat-icon>task_alt</mat-icon>
        <span>Tarefas</span>
      </button>
    </nav>
    }

    <div class="navbar-end">
      @if (!isLogged) {
        <button matButton [routerLink]="['/login']" [disabled]="isOnLogin()" class="btn-ghost">Entrar</button>
        <button matButton [routerLink]="['/register']" [disabled]="isOnRegister()" class="btn-cta">Começar agora</button>
      }
      @if (isLogged) {
        <div [matMenuTriggerFor]="menu" class="avatar-badge">{{inicialDoNome()}}</div>
      }
    </div>

  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/user-data">
    <mat-icon>person_outline</mat-icon>
    <span>Meus dados</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Sair</span>
  </button>
</mat-menu>
