<mat-form-field appearance="outline" class="full-width">
    <mat-label>Enter your password</mat-label>
    <input matInput [formControl]="control" placeholder="password" [type]="hide() ? 'password' : 'text'" />
    <button
      matIconButton
      matSuffix
      (click)="clickEvent($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide()"
    >
      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    @if (passwordError) { 
      <mat-error>{{passwordError}}</mat-error> }
  </mat-form-field>